<div>
  <h3 style="margin-left: 20px;"> Grocery list manager </h3>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group" style="margin-left: 20px;">
        <input type="text" class="form-control" placeholder="Enter grocery items" id="txtSearch" [(ngModel)]="task" />
        <div class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="onClick()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
      </div>
    </div>
  </div>

  <br />


  <ul class="list-group" style="margin-left: 20px; display:inline-block">
    <li *ngFor="let task of tasks" class="list-group-item">
      <span>
        {{ task.name }} 
      </span>
    </li>
  </ul>

</div>